<div id="catalogue-container">
    <button class="page-switch-button" id="catalogue-button" (click)="onCatalogueButtonClick()">Catalogue</button>
    <button class="page-switch-button" id="trainer-button" (click)="onTrainerButtonClick()">Trainer</button>

    <div id="filter-button-div" *ngIf="types">
        <button class="filter-button" *ngFor="let type of types"
            [style.background-color]="setBackgroundColor(type)"
            (click)="filterByTypeButtonClick(type)" [id]="type">
            {{ type }}
        </button>
    </div>

    <div id="no-pokemon-message" *ngIf="pokemons?.length == 0">
        <h1>No pokemon caught yet, go to Catalogue to find new pokemon.</h1>
    </div>

    <div id="pokemon-div">
        <div id="pokemon-list" *ngIf="pokemons">
            <div class="pokemon-card" *ngFor="let pokemon of pokemons" (click)="pokemonClicked(pokemon.id)">
                <h1 class="pokemon-card-header">{{ pokemon.name }}</h1><br>
                <img class="pokemon-card-image" 
                bind-src="pokemon.image" 
                onError="this.onerror=null;this.src='../../../assets/Images/generic_pokemon.jpg';"
                alt="Image of a pokemon">
                
                <div class="pokemon-card-type">
                    <div class="type-fill" *ngFor="let type of pokemon.types" [style.background-color]="setBackgroundColor(type)">{{ type }}</div>
                </div>
            </div>
        </div>
        
        <div>
            <button id="more-pokemons" (click)="onMorePokemonsButtonClick()">More pokemons</button>
        </div>
    </div>

</div>