:root {
    --filtered-button-color: #759575;
    --unfiltered-button-color: #89c403;
}

.filter-button {
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	border-radius: 5px;
    
    margin: 2px 5px;
}

#filter-button-div {
    grid-row: 1;
    grid-column: 2;
}

.page-switch-button {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	border-radius:6px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px;
    
    margin: 2px 5px;
    grid-row: 1;
    grid-column: 1;
}

#catalogue-button {
    background-color: red;
}

#trainer-button {
	background-color: blue;
	padding-left: 35px;
	padding-right: 35px;
}

#no-pokemon-message {
	grid-row: 2;
	grid-column: 2;
}

#pokemon-div {
    grid-row: 2;
    grid-column: 2;
}

#pokemon-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.pokemon-card {
    margin: 30px;
    width: 200px;
	display: grid;
	grid-template-rows: 80px 150px 40px;
	grid-template-columns: 100px 100px;
    
    border-radius: 5px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;
}

.pokemon-card-header, .pokemon-card-image {
    margin: auto;
}

.pokemon-card-header {
	padding-top: 20px;
	grid-row: 1;
	grid-column: 1 / span 2;
	text-transform: capitalize;
}

.pokemon-card-image {
	width: 150px;
	grid-row: 2;
	grid-column: 1 / span 2;
}

.pokemon-card-type {
	display: table;
	table-layout: fixed;
	width: 100%;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	grid-row: 3;
	grid-column: 1 / span 2;
}

.type-fill {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.type-fill:first-of-type {
	border-bottom-left-radius: 5px;
}

.type-fill:last-of-type {
	border-bottom-right-radius: 5px;
}

#more-pokemons {
    background-color: lightblue;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	border-radius:6px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px;
    
    margin: 2px 5px;
}

#catalogue-container {
    display: grid;
    grid-template-rows: auto / auto / auto / auto;
    grid-template-columns: auto / auto;
}
