<div id="pokemon-details" *ngIf="pokemon">
    <div id="pokemon-details-header">
        <h1 class="pokemon-details-header">{{ pokemon.name }}</h1>
    </div>
    <table id="pokemon-details-description">
        <th>
            <tr class="pokemon-details-stat">
                <td>{{ getTypesString() }}</td>
            </tr>
            <tr class="pokemon-details-stat">
                <td>Weight: {{ pokemon.stats.weight }}</td>
            </tr>
            <tr class="pokemon-details-stat">
                <td>HP: {{ pokemon.stats.hp }}</td>
            </tr>
            <tr class="pokemon-details-stat">
                <td>Attack: {{ pokemon.stats.attack }}</td>
            </tr>
        </th>
        <th>
            <tr class="pokemon-details-stat">
                <td>Defence: {{ pokemon.stats.defence }}</td>
            </tr>
            <tr class="pokemon-details-stat">
                <td>Special-attack: {{ pokemon.stats.specialAttack }}</td>
            </tr>
            <tr class="pokemon-details-stat">
                <td>Special-defence: {{ pokemon.stats.specialDefence }}</td>
            </tr>
            <tr class="pokemon-details-stat">
                <td>Speed: {{ pokemon.stats.speed }}</td>
            </tr>
        </th>

    </table>
    <img id="pokemon-details-image" 
    bind-src="pokemon.image" 
    onError="this.onerror=null;this.src='../../../assets/Images/generic_pokemon.jpg';"
    alt="Image of a pokemon">
    <button id="pokemon-details-back" (click)="backToCatalogueClick()">Back</button>
    <button id="pokemon-details-catch" *ngIf="isCaught != true" (click)="catchPokemonClick()">Catch</button>
    <button id="pokemon-details-release" *ngIf="isCaught == true" (click)="releasePokemonClick()">Release</button>
</div>