#pokemon-details {
    border-radius: 5px;
    border-style: solid;
    border-color: darkslategrey;
    border-width: 2px;

    padding: 20px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 450px;

    display: grid;
    grid-template-rows: auto 20px auto auto;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
}

#pokemon-details-header {
    grid-row: 1 / span 2;
    grid-column: 2 / span 3;
}

.pokemon-details-header {
    text-transform: capitalize;
}

#pokemon-details-image {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    align-self: center;
    width: 80%;

}

#pokemon-details-description {
    grid-row: 3;
    grid-column: 3 / span 2;
    display: table;
    margin: 5px;
}

.pokemon-details-stat {
    display: table-row;
}

#pokemon-details-back, #pokemon-details-catch, #pokemon-details-release {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	border-radius:6px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px;
}

#pokemon-details-back {
    grid-row: 4;
    grid-column: 2;

    background-color: red;
}

#pokemon-details-catch, #pokemon-details-release {
    grid-row: 4;
    grid-column: 4;

    background-color: blue;
}