<div id="header-div">
    <h3 *ngIf="name == null">Welcome to Pokemon Trainer!</h3>
    <h3 *ngIf="name != null">{{ name }}</h3>
    <h3 id="remove-user-text" (click)="removeUser()" *ngIf="name != null">Remove user</h3>
</div>
