#header-div {
    background-color: blue;
    height: 5vh;
    display: flex;
}

h3 {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    font-weight: 700;
    font-size: larger;
}

#remove-user-text {
    cursor:pointer;
}