<form [formGroup]="loginForm">
    

    <div class="form-group">
        <input class="form-input" type="text" id="trainerName" placeholder="Enter name" 
        formControlName="trainerName" (keydown.enter)="onNameEntered()">
        <label for="trainerName" class="form-label">Enter Name</label>
        
        <div class="error-content" *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
        
            <div *ngIf="trainerName.errors.required">
                Name is required.
            </div>
        
            <div *ngIf="trainerName.errors.minlength">
                Name must be at least 2 characters long.
            </div>
        
        </div>
    </div>
</form>