/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html, body {
    font-family: 'Amatic SC', cursive !important;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive !important;
}
